body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a:hover {
	text-decoration: underline;
}

.nick {
	text-decoration: none;
	font-size: 15px;
	padding-left: 10px;
}
